{% extends 'base.html' %}
{% block content %}

<h1>Azzies!</h1>

<div >
    <h2>Psilocybe Azurescens</h2>
{% for shroom in bloom %}
<div class="card">
    <a href="{% url 'detail' shroom.id %}">
        <div class="card-content">
            <span class="card-title">{{ shroom.name }}</span>
            <p>Health/Wellbeing{{ shroom.scientific_name }}</p>
            <p>Potency{{ shroom.description }}</p>
            <p>Scientific Name: {{ shroom.scientific_name }}</p>
            <p>Description: {{ shroom.description }}</p>
        </div>
    </a>
</div>
{% end for%}