
{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12">
        <h1 class="page-title ">
            Wavy Caps!
        </h1>
    </div>
     <div >
         <h2>
            <center>
                <img class="responsive-img card-panel" src="https://i.postimg.cc/xTZ6q5jQ/Screen-Shot-2022-07-13-at-11-54-57-PM.png" height="1250" width=1250" border="400" >
            </center>
            </h2>
        {% for shroom in bloom %}
        <div class="card">
            <a href="{% url 'detail' shroom.id %}">
        
            </a>
        </div>
        {% endfor %}
        {% endblock %}
