{% extends "base.html" %}

{% block content %}
<h1> About Psilocybin</h1>
<hr />
<br />
<p class="about_p">How to Recognize Shrooms: 
    Mushrooms containing psilocybin look like dried ordinary mushrooms with long, slender stems that are whitish-gray and dark brown caps that are light brown or white in the center. Dried mushrooms are a rusty brown color with isolated areas of off-white.
    
    Magic mushrooms can be eaten, mixed with food, or brewed like tea for drinking. They can also be mixed with cannabis or tobacco and smoked. Liquid psilocybin is also available, which is the naturally occurring psychedelic drug found in liberty caps. The liquid is clear brown and comes in a small vial.</p> 
<br />
<hr />
<p>Psilocybin Therapy:
    Also known as psilocybin-assisted therapy, involves the use of a psychedelic compound that is native to a specific type of mushroom in a psychotherapeutic setting.</p>

<p>DISCLAIMER: Magic mushroom legality varies from country to country. According to certain laws, mushrooms are categorised into constituent parts:

    1. Mushroom (fruiting body)
    2. Mycelium
    3. Spores
    
    In some countries, such as the Netherlands, the law treats these parts differently. For instance, spores and mycelium (and truffles) are legal—which is why it is legal to sell mushroom grow kits—but the mushroom fruiting bodies themselves are illegal.
    
    So, before purchasing, growing, or picking, check the laws in your own country!
</p>

<img src="https://i.postimg.cc/wBDdDjf0/money-shrooms.webp">
{% endblock %}