{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caps n' Stems</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
    <header class="navbar-fixed ">
        <nav>
            <div class="nav-wrapper #4A0404 brown darken -2">
                <ul>
                    <li>
                        <a href="/" class="left brand-logo">&nbsp;&nbsp;"Caps n' Stems"</a>
                    </li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'index' %}">Info</a></li>
                    <li><a href="{% url 'seasons' %}">Strains</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'shrooms_create' %}">Add shroom</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}      
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer brown -3">
        <div class="right">
            "Caps n' Stems", &copy; 2022 Filmon Yohannes &nbsp;
        </div>
    </footer>
</body>

</html>