
{% extends "base.html" %}
{% block content %}

<h1 class="page-title ">
    <font size= "18">
     Psilocybin ([si] + [loh] + [sy] + [bin])
    </font>
</h1>
<p class="about_p"><font size= "5">HOW TO RECOGNIZE SHROOMS: 
    Mushrooms containing psilocybin look like dried ordinary mushrooms with long, slender stems that are whitish-gray and dark brown caps that are light brown or white in the center. Dried mushrooms are a rusty brown color with isolated areas of off-white.
    Magic mushrooms can be eaten, mixed with food, or brewed like tea for drinking. They can also be mixed with cannabis or tobacco and smoked. Liquid psilocybin is also available, which is the naturally occurring psychedelic drug found in liberty caps. The liquid is clear brown and comes in a small vial.</font>
</p>

<div class="row">
    <div class="col s10 offset-s1">
        <center><img class="responsive-img card-panel" src="https://i.postimg.cc/tRVY92zN/shroom1.jpg" height="900" width="900" alt="" class="responsive-img home"></center>
    </div>
</div>

<hr />
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img card-panel" src="https://i.postimg.cc/bvr3rsLb/Psilocybe-Cubensis.webp"> 
            </div>
            <div class="card-action">
                <a href="{% url 'spring' %}"> "Golden Teacher" aka Psilocybe Cubensis</a>
            </div>
        </div> 
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img card-panel" src="https://i.postimg.cc/59wjgnC4/azu.webp" height="500" width="300"> 
            </div>
            <div class="card-action">
                <a href="{% url 'summer' %}"> "Flying Saucer" aka Psilocybe Azurescens</a>
            </div>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-image">
                <img class="object-fit_contain" src="https://i.postimg.cc/15cQcjSB/Psilocybe-semil.webp"> 
            </div>
            <div class="card-action">
                <a href="{% url 'fall' %}"> " Liberty Caps" aka Psilocybe Semilanceata</a>
            </div>
        </div> 
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img card-panel" src="https://i.postimg.cc/025tFWmc/Psilocybe-Cyanescens-Wavy-Caps.jpg"> 
            </div>
            <div class="card-action">
                <a href="{% url 'winter' %}"> "Wavy Caps" aka Psilocybe Cyanescens</a>
            </div>
        </div> 
    </div>
</div>
{% endblock %}