
{% extends 'base.html' %} {% block content %}

<h1>{{shroom.name.capitalize}} Details </h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ shroom.name }}</span>
        <p>Scientific Name: {{ shroom.scientific_name }}</p>
        <p>Type: {{ shroom.get_type_display }}</p>
        <p>Potency: {{ shroom.get_bloom_season_display }}</p>
        {% if shroom.picking_season == 'NAN' %}
        <p>Blueish-Purple bruising indicates amount of Psilocybe</p>
        {% else %}
        <p>Availability: {{ shroom.get_picking_season_display }}</p>
        {% endif %}
        <p>Health/Wellbeing: {{ shroom.type }}</p>
        <p>Description: {{ shroom.description }}</p>
      
    </div>
    <div class="card-action">
        <a href="{% url 'shrooms_update' shroom.id %}">Edit</a>
        <a href="{% url 'shrooms_delete' shroom.id %}">Delete</a>
    </div>
</div>

{% endblock %}